.profilePage-sect {
  display: flex;
  padding: 150px 0px;
}

.profile-pic {
  min-height: 150px;
  min-width: 200px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  border-image: initial;
}

.images-sect {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.viewbar-sect {
  background-color: rgb(94, 94, 94);
  display: flex;
  justify-content: center;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.tab {
  display: flex;
  margin: 0px;
}

.tab > h2 {
  margin: 0 20px 0 0;
}
