.login-form {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-fieldset {
  display: flex;
  flex-direction: column;
}

.form-legend {
  text-align: center;
  font-size: 2.5rem;
}

.button {
  margin: 10px auto;
}

.req {
  color: red;
}
