.landing-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.image-container {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.banner {
  text-align: center;
}

.individ-wrapper {
  text-align: center;
  text-decoration: none;
  color: black;
  width: 350px;
  max-height: 350px;
  margin: 25px 15px 25px 15px;
}

.display-img-title {
  margin: 0;
  padding: 0 20px 0 20px;
}
