.warning,
.error-message {
  color: red;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Titillium Web";
}

footer {
  margin: 20px 0 0 0;
  text-align: center;
}
