.warning,
.error-message {
  color: red;
}

a {
  text-decoration: none;
}

body {
  background-color: white;
  font-family: "Titillium Web";
}

footer {
  text-decoration: none;
  padding: 10px 0;
  text-align: center;
  background-color: rgb(36, 35, 35);
  color: aliceblue;
  line-height: 50px;
}

footer > code > a {
  color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sect {
  flex: 1 0 auto;
  padding-bottom: 5%;
}

.in-dev {
  text-align: center;
}

.error-message {
  text-align: center;
}

.label-alignment {
  display: flex;
}
